/* This is the official custom coded CSS file for AydenJackson.com

Details
ARTIST: Ayden Jackson
URL: aydenjackson.com
WEB_HOST: Fourtwall.com
VERSION: 0.0 Dev

Please note: Duplication of the code contained in this file may result in legal action.
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#header {
  position: relative;
  background-color: black;
  color: #ffffff;
  text-align: center;
}
#header #msg-bar {
  font-size: 20px;
  text-transform: uppercase;
}
#header #wrapper{
  width: 80%;
  margin: auto;
}
#header #wrapper #logo{
/*   Future styles here */
}
#header #wrapper #desk-nav{
/*   Future styles here */
  position: relative;
  background-color: red;
  padding: 10px;
}
#header #wrapper #desk-nav ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
#header #wrapper #desk-nav ul li a{
  text-decoration: none;
  color: #ffffff;
  text-transform: lowercase;
}
#header #wrapper #social-links{
  display: flex;
  justify-content: space-around;
}
#header #wrapper #social-links h4{
  
}
#header #wrapper #social-links ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#header #wrapper #social-links ul li a{
  text-decoration: none;
  padding: 5px;
  color: #ffffff;
  font-size: 25px;
}
